/* Ajuste de las tarjetas y contenedores */
.card {
  width: 25rem;
  margin: 10px; /* Espacio entre tarjetas */
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  
}

.card-title {
  font-weight: bold; /* Pone el texto en negrita */
}

.list-group-item {
  border: 1px solid #dee2e6; /* Borde gris claro */
}

.list-group-item:first-child {
  border-top: none; /* Elimina el borde superior del primer elemento */
}

.row {
  display: flex;
  justify-content: space-around; /* Espacio uniforme entre tarjetas */
  align-items: center;
  flex-wrap: wrap;
}

.col {
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box; /* Asegura que el padding no exceda el contenedor */
}

.container-fluid, .home-container {
  min-width: 1200px; /* Asegura que el contenedor tenga el ancho mínimo de 1920 px */
  height: 100vh;
}

@media (max-width: 1200px) {
  .header, .navbar-container {
      width: 100%; /* Asegura que se ajuste al ancho de la ventana */
      min-width: auto; /* Elimina el ancho mínimo para pantallas más pequeñas */
  }
}

