:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547; /* Color del texto negro */
  background-color: #ffffff; /* Color de fondo blanco */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1240px; /* Mantén un ancho mínimo si es necesario */
  min-height: 100vh;
  background-color: #ffffff; /* Fondo blanco */
  color: #213547; /* Texto en negro */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Asegúrate de que el contenedor principal esté centrado */
.container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  padding: 0 10px; /* Agrega 10px de relleno en los bordes */
}

/* Estilo para el contenedor de las tarjetas en la fila */
.row {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en nuevas filas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  margin: 0 -10px; /* Ajusta los márgenes negativos para el espaciado */
}

/* Estilo para cada tarjeta */
.col-md-4 {
  padding: 10px; /* Espaciado entre las tarjetas */
}

/* Estilo para las imágenes dentro de las tarjetas */
.card-img-top {
  width: 100%; /* Ajusta el ancho de la imagen para que cubra todo el contenedor */
  height: 250px; /* Altura fija para las imágenes */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

/* Estilo para el diseño de las tarjetas en diferentes tamaños de pantalla */

/* Mobile - Menos de 380px: 1 tarjeta por fila */
@media (max-width: 379px) {
  .col-md-4 {
    flex: 0 0 80%; /* Cada tarjeta ocupa el 80% del ancho del contenedor */
    max-width: 80%; /* Limita el ancho máximo al 80% */
  }
}

/* Tablet - Entre 380px y 720px: 2 tarjetas por fila */
@media (min-width: 380px) and (max-width: 719px) {
  .col-md-4 {
    flex: 0 0 40%; /* Cada tarjeta ocupa el 40% del ancho del contenedor */
    max-width: 40%; /* Limita el ancho máximo al 40% */
  }
}

/* Desktop - Más de 720px: 3 tarjetas por fila */
@media (min-width: 720px) {
  .col-md-4 {
    flex: 0 0 30%; /* Cada tarjeta ocupa el 30% del ancho del contenedor */
    max-width: 30%; /* Limita el ancho máximo al 30% */
  }
}

/* Estilo para los elementos dentro de ListGroup */
.card .list-group-item {
  background-color: #f8f9fa; /* Gris claro para el fondo */
  border: 1px solid #e9ecef; /* Borde ligeramente más oscuro */
}

/* Estilo para la lista de ingredientes en la tarjeta */
.flush-item ul {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos de la lista se envuelvan en nuevas líneas si es necesario */
  list-style-type: none; /* Elimina las viñetas de la lista */
  padding-left: 0; /* Elimina el relleno izquierdo */
  margin: 0; /* Elimina el margen */
}

.flush-item ul li {
  margin-right: 1em; /* Espaciado entre los elementos de la lista */
}

/* Estilo para el pie de página de la tarjeta */
.card-footer {
  background-color: #f8f9fa; /* Fondo gris claro para el pie de página */
  border-top: 1px solid #e9ecef; /* Borde superior para separar de los elementos anteriores */
  padding: 1em; /* Ajusta el espaciado */
}
